modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33081
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Git Push"
mode = "sequential"
author = 48613890

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git init"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"caspe@wp.pl\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"Jarek\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"first commit\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git branch -M main"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git remote add origin https://github.com/caspe-bot/QuizPL.git"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push -u origin main"

[agent]
integrations = ["javascript_mem_db:1.0.0"]
